# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json
.env

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo
